<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/oxm
                           http://www.springframework.org/schema/oxm/spring-oxm.xsd">

    <context:property-placeholder location="classpath:conf/isj/isj.properties" ignore-unresolvable="true" />

    <bean id="regSJWebService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="com.proper.enterprise.isj.webservices.service.RegSJService" />
        <property name="wsdlDocumentUrl" value="${isj.wsdlUrl}" />
        <property name="namespaceUri" value="http://tempuri.org/" />
        <property name="serviceName" value="RegSjWebService" />
        <property name="portName" value="RegSjWebServiceSoap" />
    </bean>

    <oxm:jaxb2-marshaller id="unmarshallNetTestResult">
        <oxm:class-to-be-bound name="com.proper.enterprise.isj.webservices.model.res.NetTestResult" />
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallRegInfo">
        <oxm:class-to-be-bound name="com.proper.enterprise.isj.webservices.model.res.RegInfo" />
    </oxm:jaxb2-marshaller>
    <oxm:jaxb2-marshaller id="unmarshallHosInfo">
        <oxm:class-to-be-bound name="com.proper.enterprise.isj.webservices.model.res.HosInfo" />
    </oxm:jaxb2-marshaller>

    <bean id="aes" class="com.proper.enterprise.platform.core.utils.CipherUtil" factory-method="getInstance">
        <constructor-arg name="algorithm" value="${isj.algorithm}" />
        <constructor-arg name="mode" value="${isj.mode}" />
        <constructor-arg name="padding" value="${isj.padding}" />
        <constructor-arg name="key" value="${isj.key}" />
        <constructor-arg name="keySize" value="${isj.keySize}" />
    </bean>

    <beans profile="dev">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/isj/isj-ws-proxy.properties" />
    </beans>

    <beans profile="test">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/isj/isj-ws-proxy.properties" />
    </beans>

    <beans profile="production">
        <context:property-placeholder ignore-unresolvable="true"
                                      location="classpath:conf/isj/isj-ws-production.properties" />
    </beans>

</beans>
